* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0.1em 0.1em 0.05em rgb(0, 0, 0);
}

html {
    background-image: linear-gradient(to left bottom, #ff002c, #e10049, #b8005a, #890061, #57005d, #3c0655, #21084a, #03023e, #070233, #070128, #05011d, #010011);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
#main {
    width: 90%;
    display: inline-flex;
} 
.part {
    width: 50%;
}

#loginDisplay {
    width: 500px;
    height: 250px;
    border-radius: 10px;
    background-color: #07023383;
    border: 1px solid #e10049;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    min-width: 300px;
    margin-top: 10em;
    box-shadow: 5px 5px 5px black;
}

.inputs {
    width: 97%;
    height: 30px;
    margin-top: 10px;
    background-image: linear-gradient(to right , #e10049, #32005a);
    border: none;
    padding: 6px;
    border-radius: 5px;
    padding: 10px;
}
.inputs::placeholder {
    color: white;
}
#datainputs {
    margin-top: 30px;
}
.buttom {
    background-color: #b8005a;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 40px;
}

.buttom:hover {
    background-color: #57005d;
}

#logopart {
    padding: 80px;
    min-width: 400px;
}

.images {
    width: 80%;
    height: auto;
    margin-left: 10%;
}

#logo {
    margin-left: -2%;
    width: 25%;
    margin-top: -400px;    
}

#textbienvenda {
    color: #ffe0ea;
}

h2.linea {
    position: relative;
}
h2.linea:before {
    border-top: 1px solid #e10049;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    bottom: 0;
  }
  h2.linea span {
    padding: 0 15px;
  }
  #ftext {
    color:#ff002c;
  }
  #correoimage {
      width: 40%;
      margin-top: -400px;
      margin-left: -175px;
  }  
  #textdown {
      margin-top: 20px;
  }
  #buttomop {
      width: 100%;
      margin-top: 3em;
  } 
  #buttomca {
      background-color: #ff002c;
      text-align: center;
      width: 50%;
      margin-top: 1em;
  }
  #buttomca:hover {
      background-color: #ff2f52;
  }
  #buttomscp {
      text-align: center;
  }